<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="/tours">Tours</a></li>
  <li><a href="/tours/{{tourId}}">Tour {{tourId}}</a></li>
  <li class="active">Activity</li>
</ol>

<div class="page-header">
  <h1><span class="glyphicon glyphicon-heart"></span> Activity</h1>
</div>

<div class="container">
<p>Form to enter starting / ending times of Pushups, Situps, Mile TBD...</p>
</div>
