<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="/campers">Campers</a></li>
  <li class="active">FirstName LastName</li>
</ol>

<div class="page-header">
  <h1>FirstName LastName</h1>
</div>

<div class="container">
<p>Information about single user/camper TBD...</p>
</div>
