<div class="container theme-showcase" role="main">

  <div class="jumbotron">
    <h1>805 Bootcamp</h1>
    <p>Manage your 805 Bootcamp account here.</p>
    {{#if user}}
    <p>View <a href="/tours">Tours</a> or <a href="/campers">Campers</a>.</p>
    {{else}}
    <p><a href="/login" class="btn btn-primary btn-lg" role="button">Login &raquo;</a></p>
    {{/if}}
  </div>
</div>
