  <div class="container">
    <ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li class="active">Tours</li>
</ol>

<div class="page-header">
  <h1>Tours</h1>
</div>

<div class="container">
  <p>table of all tours...</p>
</div>
