<div class="container theme-showcase" role="main">
  <div class="well">
	  <h1><span class="glyphicon glyphicon-warning-sign"></span> {{title}}</h1>

	  <p class="lead">
	  	The page requested could not be found.
			Click on the back button and try again.
		</p>

		The page you were trying to reach is <code>{{url}}</code>.
		</p>
	</div>
</div>
