<ol class="breadcrumb">
  <li><a href="/tours">Tours</a></li>
  <li class="active">Tour {{ tour.id }}</li>
</ol>


<div class="container">
  <div class="page-header">
    <h1>Tour #{{ tour.id }}</h1>
  </div>

  <p>New tour.  Select the campers from last tour that are attending this tour.</p>
</div>
