body {
  background:#fff;
  color:#333;
}

.navbar-static-top {
  margin-bottom: 19px;
}

.pagination-805 > li > a,
.pagination-805 > li > span {
  padding: 2px 6px;
  font-size: 16px;
  width:30px;
  text-align:center;
  color:#444;
}

.pagination-805 > li:first-child > a,
.pagination-805 > li:first-child > span {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.pagination-805 > li:last-child > a,
.pagination-805 > li:last-child > span {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

#footer {
    margin-top:50px;
    padding:10px 0;

    border-top: 1px solid #ccc;
    text-align: center;
    color:#999;
}


